<h1>{{ section.settings.heading | escape }}</h1>

{% schema %}
{
  "name": "liquid challenge 1",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "dyode is amazing",
      "label": "Heading"
    }
  ]
}
{% endschema %}
